#container {
    width: 640px;
    height: 480px;
    padding: 10px;
    position: relative;
    display: inline-block;
    float: left;
}

#loader {
    position: absolute;
    top: 230px;
    left: 10px;
    z-index: 1;
    width: 640px;
    text-align: center;
}

#controls {
    display: inline-block;
    padding: 10px;
    visibility: hidden;
}

label {
    display: inline-block;
    width: 180px;
}

input {
    width: 200px;
}

div.input-group {
    padding: 5px 0 5px 0;
}

div.fps-display {
    padding: 5px 0 5px 0;
}

.fps-display div {
    width: 120px;
    display: inline-block;
}
